asgiref
black
click
colorama
crispy-bootstrap4
dj-database-url
Django
django-crispy-forms
django-debug-toolbar
flake8
flake8-quotes
flake8-variables-names
gunicorn
mccabe
mypy-extensions
packaging
pathspec
pep8-naming
platformdirs
psycopg2
pycodestyle
pyflakes
python-dotenv
sqlparse
typing_extensions
tzdata
whitenoise
