{% extends "layouts/base.html" %}

{% block content %}
  <h1>
    Username: {{ worker.username }}
    <a href="{% url 'task_manager:worker-update' pk=worker.id %}" class="btn btn-secondary link-to-page">
      Update
   </a>
  </h1>


  <p><strong>First name:</strong> {{ worker.first_name }}</p>
  <p><strong>Last name:</strong> {{ worker.last_name }}</p>
  <p><strong>Email:</strong> {{ worker.email }}</p>
  <p><strong>Position:</strong> {{ worker.position }}</p>

  <div class="ml-3">
    <h4>Tasks</h4>
    {% if worker.tasks.all %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Task Type</th>
      </tr>
    {% for task in worker.tasks.all %}
      <tr>
        <td>{{ task.id }}</td>
        <td> {{ task.name }}</td>
        <td>{{ task.task_type.name }}</td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
      <p>No tasks!</p>
  {% endif %}
  </div>
{% endblock %}
